body {
  margin: 0;
  font: 16px/1.5 'Work Sans', sans-serif;
  background: gold url(../images/pineapples.png) center;
  background-size: 200px;
  color: #111;
}

a {
  color: #45a2db;
  display: inline-block;
  text-decoration: none;
}

h5 { font-size: 1.2rem; }
h4 { font-size: 1.44rem; }
h3 { font-size: 1.73rem; }
h2 { font-size: 2.07rem; }
h1 { font-size: 2.49rem; }
h1, h2, h3, h4, h5 {
  color: #45a2db;
  text-shadow: .1em .1em white;
}
h1, h2, h3, h4, h5, p, ul, ol {
  margin: 0 0 1.5rem;
}
p:last-child {
  margin-bottom: 0;
}

.nav-bar {
  font-size: 1.44rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform ease-in-out .2s;
  padding-top: 5vh;
}

.nav-bar.-visible {
  transform: translateY(0);
}

.nav-bar > a {
  flex: auto;
  padding: 0 1em;
  line-height: 2;
  border-right: 1px solid;
}
.nav-bar > a:hover {
  background-color: white;
  cursor: pointer;
}
.nav-bar > a[href=""] {
  opacity: .2;
}

section {
  box-sizing: border-box;
}

section.-left,
section.-right {
  width: 80vw;
}

section.-left {
  padding-right: 40vw;
  transform: rotate(-1.5deg);
}

section.-right {
  padding-left: 40vw;
  transform: rotate(1.5deg);
}

section > .copy {
  padding: 0 3rem;
}

section > .copy.-centered {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section {
  position: relative;
  background: url(../images/cityscape.png) no-repeat center;
  background-size: cover;
}

.hero-section > .title {
  font-weight: 800;
  text-transform: uppercase;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.hero-section > .title > h1 {
  font-size: 8vw;
  line-height: .8;
  margin: 0 0 0.2em;
  text-indent: -4rem;
  text-shadow: .1em .1em gold;
  transform: rotate(3deg);
}

.hero-section > .title > h1 > span {
  font-size: 1.44em;
  position: relative;
  display: block;
  color: white;
  transform: rotate(-6deg);
}

.hero-section > .title > .details {
  font-size: 2v;
  line-height: 1;
  background-color: #45a2db;
  box-shadow: -1em 1em gold;
  color: white;
  padding: 1rem;
  transform: rotate(1.5deg);
}

.hero-section > .title > .details > time {
  font-size: 1.44em;
}

.about-section {
  background: url(../images/pyconph.jpg) no-repeat left top;
  background-size: 40vw;
  min-height: 110vh;
  margin-top: -5vh;
}

.volunteer-section {
  background: url(../images/volunteers.gif) no-repeat 40vw top,
              url(../images/volunteers.jpg) no-repeat 40vw 26vw;
  background-size: 40vw;
  min-height: 100vh;
}
