body {
  margin: 0;
  font: 16px/1.5 'Work Sans', sans-serif;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

h5 { font-size: 1.2rem; }
h4 { font-size: 1.44rem; }
h3 { font-size: 1.73rem; }
h2 { font-size: 2.07rem; }
h1 { font-size: 2.49rem; }

.hero-section {
  background: url(../images/must.jpg) no-repeat center bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  position: relative;
}

.hero-section::before {
  content: ' ';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-section > .title {
  text-transform: uppercase;
  position: relative;
  font-weight: 800;
  margin-bottom: 10vh;
}

.hero-section > .title > h1 {
  font-size: 10vw;
  margin: 0 0 0.2em;
  color: white;
}

.hero-section > .title > h1 > span {
  color: #fef002;
}

.hero-section > .title > .details {
  background-color: #26b19a;
  color: white;
  font-size: 2vw;
  padding: 1rem;
}

.hero-section > .title > .details > time {
  font-size: 1.5em;
}

.hero-section > .navbar {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  width: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.hero-section > .navbar > a {
  line-height: 1.5;
}

.hero-section > .attrib {
  font-size: 0.8rem;
  opacity: 0.8;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  text-align: right;
}

