<section id="calls" class="calls-section">
  <div class="col" id="become-a-sponsor">
    <h3>Become our <strong>sponsor</strong></h3>
    <p>We are seeking sponsors to help offset the costs of running the conference. Sponsorship allows us to keep ticket prices low.</p>
    <p>Our organization don't have much money-making facilities since we're
    non-profit. So we're very thankful for the sponsors who've helped us out
    over the past few years. PyCon PH is a great venue to meet great talents
    and interesting personalities. These people and visibility pull in companies and teams to
    support us.</p>
    <p>
      <a class="btn" href="./assets/sponsorship.pdf">
        <img src="./images/charity.svg">View Sponsorship Packages
      </a>
    </p>
  </div>
  <div class="col" id="become-a-patron">
    <h3>Become a <strong>patron</strong></h3>
    <p>Historically, we received an early donation from an anonymous individual that made a huge impact on making the very first PyCon Philippines (2012) possible. For this, we are truly grateful.</p>
    <p>In the spirit of <em><a href="http://en.wikipilipinas.org/index.php/Bayanihan">Bayanihan</a></em>, individuals may make a personal donation of any amount. Your name and link will be listed on this website or if you prefer, you can be listed as 'Anonymous Patron'.</p>
    <p>In addition, Patrons with a minimum donation of PHP 1,000 will have an opportunity to join the contributors dinner on day 1 for a fee.</p>
    <p>If you'd like to make a personal donation of any amount, use this button:</p>
    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="PQ2LNCPGWXVWQ">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </p>
    <p>The following individuals have donated to PyCon Philippines:</p>
      <ul>
        <li>Anonymous Patron</li>
        <li><a href="http://slides.com/pythonph/python-data-model">Max Thiercy</a></li>
        <li>Anonymous Patron</li>
      </ul>
    </p>
  </div>
</section>
