<section id="coc" class="coc-section">
  <div class="coc-intro" id="code-of-conduct">
    <h4><strong>Code of Conduct</strong></h4>
    <p>PyCon PH is a community conference intended for collaboration in the developer community.</p>
    <p>We value the participation of each member of the Python community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events, whether officially sponsored by Python.PH or not.</p>
    <p>To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers and volunteers at any PyCon event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.</p>
  </div>
  <div class="coc-content">
    <h4>The long version</h4>
    <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, status, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p>Participants who are asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for PyCon.</p>
    <p>Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
    <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>
    <p>Conference staff can be identified by t-shirts/special badges/head sets.</p>
    <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
    <p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
    <h4>License</h4>
    <p>This Code of Conduct is based on the <a href="https://us.pycon.org/2015/about/code-of-conduct/">PyCon US 2015 CoC</a>, and is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License.</a></p>
  </div>
</section>
