<section id="hero" class="hero-section">
  <div class="title">
    <h1>PyCon<br>PH 2017<span>CDO</span></h1>
    <div class="details">
      <time>Feb 25-26</time>
      <p>
        University of Science<br>
        and Technology of<br>
        Southern Philippines<br>
        (Previously MUST)
      </p>
      <p>
        <a href="https://pycon-tickets.python.ph" class="btn">Buy tickets</a>
      </p>
    </div>
  </div>
  <div class="about">
    <div class="copy">
      <h3>What is <strong>PyCon PH</strong>?</h3>
      <p>PyCon Philippines is a volunteer-run, not-for-profit conference centered around the Python Programming language.</p>
      <p>The goal of the conference is to provide a venue where the Python programming language and surrounding technologies can be explored, discussed and exercised.</p>
    </div>
  </div>
</section>
