<section id="schedule" class="schedule-section">
  <h2>Schedule</h2>
  <h3>February 25</h3>
  <div class="schedule-list"
       data-js-day-1
       data-js-range='{{ time_range_day_1|tojson }}'
       data-js-schedule='{{ schedule_day_1|tojson }}'>
    <svg height="1000"></svg>
  </div>
  <h3>February 26</h3>
  <div class="schedule-list"
       data-js-day-2
       data-js-range='{{ time_range_day_2|tojson }}'
       data-js-schedule='{{ schedule_day_2|tojson }}'>
    <svg height="1000"></svg>
  </div>
</section>
