<section class="sponsors-section">
  <h2>PyCon PH 2017 is brought to you by</h2>
  <div class="sponsors-list" id="sponsors">
    <div class="sponsor -organizer">
      <a href="https://python.ph"><img src="./images/logo.svg" alt="PythonPH"></a>
    </div>
    <div class="sponsor -organizer">
      <a href="http://www.must.edu.ph"><img src="./images/ustp.jpg" alt="USTP"></a>
    </div>
    <div class="sponsor -elite">
      <a href="https://www.python.org/psf/"><img src="./images/sponsors/psf-logo.png" alt="PSF"></a>
      <div class="description">
        <p>The Python Software Foundation (PSF) is a 501(c)(3) non-profit corporation that holds the intellectual property rights behind the Python programming language. We manage the open source licensing for Python version 2.1 and later and own and protect the trademarks associated with Python. We also run the North American PyCon conference annually, support other Python conferences around the world, and fund Python related development with our grants program and by funding special projects.</p>
      </div>
    </div>
    <div class="sponsor -premium">
      <a href="https://fullspeedtechnologies.com"><img class="logo" src="./images/sponsors/fullspeed-logo.png" alt="FullSpeed"></a>
      <div class="description">
        <p>FullSpeed Technologies Inc. is located in Cebu City and one of foreign branches of FullSpeed Inc. which is a Japanese publicly listed advertising technology company specialized for online and digital marketing area. We develop our own products using state-of-the-art advertising technologies such as machine learning, big data, distributed systems and Microservices etc. We also provide our customers with Internet marketing consulting for their online businesses.</p>
      </div>
    </div>
    <div class="sponsor -starter">
      <a href="http://www.titanium.ph"><img class="logo" src="./images/sponsors/titanium.jpg" alt="FullSpeed"></a>
      <div class="description">
        <p>Titanium Technologies is a Philippine software company founded in 1991 by Jerry Tieng, Kelvin Te, and Roger Te Un Son - engineers whose formative years were spent growing up in the early days of the PC revolution. Best of friends, the three founded the company right out of engineering school and focused on serving the IT requirements of small- and medium-sized companies.</p>
      </div>
    </div>
    <div class="sponsor -starter">
      <a href="https://www.djangoproject.com/foundation/"><img class="logo" src="./images/sponsors/django.png" alt="Django Software Foundation"></a>
      <div class="description">
        <p>The Django Software Foundation is a US-based non-profit organisation with the mission to promote, support, and advance the <a href="https://www.djangoproject.com">Django Web framework</a>. The DSF sponsors sprints, meetups, gatherings and community events, and protects the intellectual property of the Django project.</p>
      </div>
    </div>
    <div class="sponsor -ticket">
      <a href="https://ti.to"><img class="logo" src="./images/sponsors/tito.png" alt="Tito"></a>
      <div class="description">
        <p>Simple, powerful, event software &mdash; just add people.</p>
      </div>
    </div>
    <div class="sponsor -company">
      <a href="http://specializedoutsource.com"><img src="./images/sponsors/specialized-outsource.jpg" alt="Specialized Outsource"></a>
    </div>
    <div class="sponsor -company">
      <a href="https://www.microsoft.com/en-ph"><img src="./images/sponsors/microsoft.png" alt="Microsoft"></a>
    </div>
    <div class="sponsor -company">
      <a href="https://www.syntacticsinc.com"><img src="./images/sponsors/syntactics.png" alt="Syntactics"></a>
    </div>
    <div class="sponsor -company">
      <a href="http://www.innovuze.com"><img src="./images/sponsors/innovuze.png" alt="Innovuze Solutions"></a>
    </div>
    <div class="sponsor -media">
      <a href="http://aboutcagayandeoro.com"><img src="./images/sponsors/acadeo.png" alt="About Cagayan de Oro"></a>
    </div>
    <div class="sponsor -media">
      <a href="http://www.wheninmanila.com"><img src="./images/sponsors/wheninmanila.png" alt="When In Manila"></a>
    </div>
    <div class="sponsor -media">
      <a href="http://www.geekypinas.com"><img src="./images/sponsors/geekypinas.png" alt="About Cagayan de Oro"></a>
    </div>
    <div class="sponsor -community">
      <a href="http://devcon.ph"><img src="./images/sponsors/devcon.png" alt="DevCon"></a>
    </div>
    <div class="sponsor -community">
      <a href="https://www.facebook.com/groups/itgpytsada"><img src="./images/sponsors/pytsada.png" alt="PyTsada"></a>
    </div>
    <div class="sponsor -community">
      <a href="https://www.meetup.com/DurianPy"><img src="./images/sponsors/durianpy.png" alt="PyTsada"></a>
    </div>
    <div class="sponsor -community">
      <a href="www.dict.gov.ph"><img src="./images/sponsors/dict.png" alt="Department of Information and Communications Technology"></a>
    </div>
    <div class="sponsor -community">
      <a href="http://www.gdgph.org/"><img src="./images/sponsors/gdgph.png" alt="GDG Philippines"></a>
    </div>
  </div>
</section>
