<section class="testimonials-section">
  <h2>What do people <strong>say about</strong> PyCon PH?</h2>
  <div class="testimonial-chat -left" id="testimonials">
    <div class="bubble">
      The community in the Phillipines is amazingly welcoming and passionate. I met a large group of wonderful people, from the organizers, volunteers, speakers and attendees. I've gone to Pycons all over the world, and I'm always impressed that the Python community seems to attract such good natured and kind hearted people in all corners.
    </div>
    <div class="byline">
      <img class="photo" src="./images/testimonials/eric-holscher.jpg">
      <div class="name">
        Eric Holscher
        <div class="year"><small>Maintainer of Read the Docs<br>Speaker at PyCon PH 2014</small></div>
      </div>
    </div>
  </div>
  <div class="testimonial-chat -right">
    <div class="bubble">
      PyCon PH was a memorable event that I am very glad I experienced. The talks were high quality, but most notably, the organisers and wider community were extremely warm and welcoming. I had such an excellent time! Thanks PyCon PH for putting on such an excellent conference.
    </div>
    <div class="byline">
      <img class="photo" src="./images/testimonials/stephen-mcdonald.jpg">
      <div class="name">
        Stephen McDonald
        <div class="year"><small>Creator of Mezzanine<br>Speaker at PyCon PH 2015</small></div>
      </div>
    </div>
  </div>
  <div class="testimonial-chat -left">
    <div class="bubble">
      I loved my time at PyCon PH 2016. The technical content, especially Python's use in scientific research and innovative web development, was outstanding. My favorite part was the warm, welcoming, and eager Pythonistas.
    </div>
    <div class="byline">
      <img class="photo" src="./images/testimonials/carol-willing.jpg">
      <div class="name">
        Carol Willing
        <div class="year"><small>Director at Python Software Foundation<br>Speaker at PyCon PH 2016</small></div>
      </div>
    </div>
  </div>
</section>
