<section class="volunteers-section">
  <div class="col" id="volunteer">
    <h3>Want to <strong>volunteer</strong>?</h3>
    <p>Small contributions when done by a significant number of people creates a tipping point and can actually make a huge difference. This is what makes PyCon distinctly inspiring.</p>
    <p>PyCon Philippines is run by volunteers who are passionate with a
    variety of things with Python being common.</p>
    <p>We don't pay volunteers with cash but with fun memories and the feeling of accomplishing something noble and great.</p>
    <p>
      <a class="btn" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7qkaSBWSAFyMf9aVN7kP1E4LPKoOxrzf3ZsHa7japETSZUw/viewform">
      <img src="./images/heart.svg">Sign up
      </a>
    </p>
  </div>
</section>
